@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');
 
body {
    background-color: #000000;
    color: #f5f5dc;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('background-image.png');
    background-size: cover;
    background-position: center;
    animation: fadeInBackground 2s ease-in-out;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    animation: slideInFromTop 1s ease-in-out;
}

.top-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px;
    animation: bounceIn 2s ease-in-out;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.description {
    flex: 1;
    animation: fadeIn 1.5s ease-in-out;
}

.version-and-download {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-button,
.download-button {
    background-color: #006400;
    color: #f5f5dc;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    animation: fadeIn 2.5s ease-in-out;
}

.info-button:hover,
.download-button:hover {
    background-color: #005500;
}

select {
    background-color: #006400;
    color: #f5f5dc;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    animation: fadeIn 2.5s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: #444;
    margin-bottom: 20px;
    animation: fadeIn 3s ease-in-out;
}

.version-info {
    width: 100%;
    background-color: #202020;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    color: #f5f5dc;
    animation: fadeIn 3.5s ease-in-out;
    overflow: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #202020;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    color: #f5f5dc;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

footer {
    background-color: rgba(0, 0, 0, 0);
    color: #f5f5dc;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

footer a {
    color: #0050fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Анимации */
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bounceIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
