@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');
 
body {
    background-color: #000000; /* Черный фон */
    color: #f5f5dc; /* Бежевый цвет текста */
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background-image: url('background-image.png'); /* Добавление фонового изображения */
    background-size: cover; /* Масштабирование изображения по размеру окна */
    background-position: center; /* Центрирование изображения */
    animation: fadeInBackground 2s ease-in-out; /* Плавное появление фона */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    animation: slideInFromTop 1s ease-in-out; /* Анимация появления заголовка сверху */
}

.top-section {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out; /* Плавное появление верхней секции */
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px;
    animation: bounceIn 2s ease-in-out; /* Анимация "прыжка" логотипа */
}

.logo img {
    width: 100px; /* Ширина логотипа */
    height: auto;
    border-radius: 50%; /* Круглый логотип */
}

.description {
    flex: 1;
    animation: fadeIn 1.5s ease-in-out; /* Плавное появление описания */
}

.version-and-download {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info-button,
.download-button {
    background-color: #006400; /* Темно-зеленый цвет кнопки */
    color: #f5f5dc; /* Б
